<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="reactor.netty.transport.logging.MdcLoggerContextListener" />

    <include resource="logback.xml" />

    <root level="INFO">
        <appender-ref ref="APP_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

</configuration>
